/.SmallUmlRuntimeModule.java._trace
/.SmallUmlRuntimeModule.xtendbin
/.SmallUmlStandaloneSetup.java._trace
/.SmallUmlStandaloneSetup.xtendbin
/SmallUmlRuntimeModule.java
/SmallUmlStandaloneSetup.java
