/.SmallUmlDescriptionLabelProvider.java._trace
/.SmallUmlDescriptionLabelProvider.xtendbin
/.SmallUmlLabelProvider.java._trace
/.SmallUmlLabelProvider.xtendbin
/SmallUmlDescriptionLabelProvider.java
/SmallUmlLabelProvider.java
