/.SmallUMLDescriptionLabelProvider.java._trace
/.SmallUMLDescriptionLabelProvider.xtendbin
/.SmallUMLLabelProvider.java._trace
/.SmallUMLLabelProvider.xtendbin
/SmallUMLDescriptionLabelProvider.java
/SmallUMLLabelProvider.java
